NEXT_PUBLIC_SUPABASE_URL=https://qcsmzmlvmmxebpdbuvxl.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_VuRVFYt16GMYqf7OmcybXQ_Lv5Vw9hC
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_VuRVFYt16GMYqf7OmcybXQ_Lv5Vw9hC
NEXT_PUBLIC_BASE_URL=http://localhost:3000
